# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs and test coverage
*.log
*.coverage
.coverage.*

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Pylint and other linting tools
.pylint.d/

# Other IDE configs
.idea/


# Local Readme file 
README-local.md